.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main > img {
	border-radius: 10px;
	margin: 0px 0px 10px 0px;
}
.main > h1 {
	margin: 0px 0px 0px 0px;
	font-weight: bolder;
	font-size: xx-large;
}
.main > p {
	margin: 0px 0px 10px 0px;
}

.slack-btn-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
}

.privacy-link {
	text-decoration: none;
	color: #000000;
	font-size: xx-small;
	font-weight: bolder;
	background-color: #ffffff;
	padding: 8px 8px 8px 8px;
	margin: 5px;
	border-radius: 5px;
}
