<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
    <meta name="slack-app-id" content="A05UHUQ37V5">
</head>

<body>
    <nav class="navbar">
        <a href="/" class="nav-link">Home</a>
        <a href="/support" class="nav-link">Support</a>
        <a href="/privacy" class="nav-link">Privacy Policy</a>
        <a href="/tos" class="nav-link">Terms of Service</a>
        <a href="/slack/install" class="nav-link">Install to Workspace</a>
    </nav>
    <div class="content">
        <h1>Privacy Policy</h1>
        <p class="content-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis molestiae modi
            velit eum officiis
            maxime, culpa eveniet, qui obcaecati tempore quaerat odio natus sunt earum. At sit adipisci modi officiis?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni officia, reprehenderit fugit voluptatem amet
            voluptatum, accusantium voluptate alias praesentium sit cumque maxime architecto quos, tempora eveniet
            quidem non et ipsa nihil culpa iusto vel! Pariatur atque nobis id architecto maiores, perferendis veritatis
            aspernatur ut sit totam modi, numquam est labore officiis corrupti impedit in ducimus adipisci eveniet vitae
            illo. Totam nihil eum, asperiores a magni laborum aperiam odit nemo beatae vero adipisci officiis in ipsa
            eveniet consequatur suscipit expedita, vel dolore facere hic corrupti? Fugit ratione esse totam ad cum ex
            adipisci praesentium corrupti consequuntur, sequi tempora, cumque eaque sunt?
        </p>
    </div>
</body>

</html>