@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
	--bg-color: #000000;
	--fg-color: #ffffff;
	background-color: var(--bg-color);
	color: var(--fg-color);
	margin: 0;
}

* {
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	color: var(--fg-color);
}

.navbar {
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
}

.nav-link {
	padding: 20px;
	font-weight: bold;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80%;
}

h1 {
	font-size: 102px;
	margin-bottom: 0px;
}

.content-body {
	margin-inline: 10%;
	margin-block: 30px;
	font-weight: lighter;
	background-color: #373737;
	padding: 25px;
	border-radius: 10px;
}
